<p id="notice"><%= notice %></p>

<script type="text/javascript">
var firebase_song_identifier = "https://jamwithme.firebaseio.com/music/<%= @song.firebase_identifier %>";
var firebase_chat_identifier = "https://jamwithme.firebaseio.com/chat/<%= @song.firebase_identifier %>";
var firebase_userlist_identifier = "https://jamwithme.firebaseio.com/users/<%= @song.firebase_identifier %>";
</script>

<div class="container">
  <div class="user-overlay" style="background-color: #CCC; opacity: 0.5; left: 0%; top: 0%; width: 100%; height: 100%">
  </div>
  <div class="user-overlay" style="background-color: #FFF; left: 10%; top: 20%; width: 80%; height: 60%">
    <p style="text-align: center">Please enter your name:</p><br>
    <input type="text" size="80">
  </div>
  <div class="main-container no-margins">
    <div id="track-container">
      <canvas class="drawing-canvas" id="drawCanvas"></canvas>
      <canvas class="drawing-canvas" id="drawCanvas2"></canvas>
    </div>
    <div class="settings-container">
      <div style="float: left; width: 40%">
        <b>Snap To:</b><br>
        <input type="radio" name="settings_snap" value="4" checked="checked">Quarter Notes<br>
        <input type="radio" name="settings_snap" value="8">Eighth Notes<br>
        <input type="radio" name="settings_snap" value="16">16th Notes<br>
        <input type="radio" name="settings_snap" value="32">32nd Notes<br>
      </div>
      <div style="float: left; width: 40%">
        <b>Note Type:</b><br>
        <input type="radio" name="settings_length" value="1">Whole Notes<br>
        <input type="radio" name="settings_length" value="2">Half Notes<br>
        <input type="radio" name="settings_length" value="4" checked="checked">Quarter Notes<br>
        <input type="radio" name="settings_length" value="8">Eighth Notes<br>
        <input type="radio" name="settings_length" value="16">16th Notes<br>
        <input type="radio" name="settings_length" value="32">32nd Notes<br>
      </div>
      <div>
        <b>Action:</b><br>
        <input type="radio" name="settings_action" value="add" checked="checked">Add Note<br>
        <input type="radio" name="settings_action" value="remove">Remove Note<br>
        <input type="button" onclick="playback();" value="Play Song">
      </div>
    </div>
  </div>
  <div class="chat-container no-margins">
    <div id = "messagesDiv" class="chat-buffer-container no-margins">
      <textarea id="chat-messages" rows="34" cols="50" readonly></textarea>
      <textarea id="chat-users" rows="34" cols="20" readonly></textarea>
    </div>
    <div class="chat-type-container no-margins">
      <input type="text" id = "message" size="50" value="" />
    </div>
  </div>
</div>
<!-- Inconsequential image dump referenced by JS -->
<img class="invisible" id="note_whole" src="../assets/notes/whole.png" />
<img class="invisible" id="note_half" src="../assets/notes/half.png" />
<img class="invisible" id="note_quarter" src="../assets/notes/quarter.png" />
<img class="invisible" id="note_eighth" src="../assets/notes/eighth.png" />
<img class="invisible" id="note_sixteenth" src="../assets/notes/sixteenth.png" />
<img class="invisible" id="note_thirtysecond" src="../assets/notes/thirtysecond.png" />
<img class="invisible" id="instrument_piano" src="../assets/instruments/instrument_piano.png" />
<img class="invisible" id="instrument_drums" src="../assets/instruments/instrument_drums.png" />
<img class="invisible" id="instrument_violin" src="../assets/instruments/instrument_violin.png" />
<img class="invisible" id="instrument_synth" src="../assets/instruments/instrument_synth.png" />
<img class="invisible" id="clef_treble" src="../assets/clefs/treble_clef.gif" />
<img class="invisible" id="clef_bass" src="../assets/clefs/bass_clef.png" />
<img id="ghost_note" class="invisible no-margins" src="../assets/notes/piano_note_1.gif" />
