<p id="notice"><%= notice %></p>

<p>
  <b>Firebase identifier:</b>
  <%= @song.firebase_identifier %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

<script type="text/javascript">

var context = new AudioContext;

// Fix up prefixing
window.AudioContext = window.AudioContext || window.webkitAudioContext;
var context = new AudioContext();

var request = new XMLHttpRequest();
request.open("GET", "http://jamwithme.herokuapp.com/assets/c4.wav", true);
request.responseType = "arraybuffer";

var audioData; 

// Our asynchronous callback
request.onload = function() {
    audioData = request.response;
    createSoundSource(audioData);
};
request.send();

// create a sound source
soundSource = context.createBufferSource();
 
// The Audio Context handles creating source
// buffers from raw binary data
soundBuffer = context.createBuffer(audioData, true/*make mono*/);
 
// Add the buffered data to our object
soundSource.buffer = soundBuffer;

function playNote(semitones) {
  // Assume a new source was created from a buffer.
  soundSource.detune.value = semitones * 100;
  soundSource.start(0);
}

playNote(0);

</script>