<p id="notice"><%= notice %></p>

<p>
  <b>Firebase identifier:</b>
  <%= @song.firebase_identifier %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

<script type="text/javascript">

var context = new AudioContext();

window.onload = init;
var context;
var bufferLoader;

var pianoBuffer = null;

function init() {
  // Fix up prefixing
  window.AudioContext = window.AudioContext || window.webkitAudioContext;
  context = new AudioContext();

  bufferLoader = new BufferLoader(
    context,
    [
      "http://localhost:3000/assets/c4.wav",
    ],
    finishedLoading
    );

  bufferLoader.load();
}

function finishedLoading(bufferList) {
  pianoBuffer = bufferList[0];

  var startTime = context.currentTime + 0.100;
  var tempo = 320; // BPM (beats per minute)
  var eighthNoteTime = (60 / tempo) / 2;

  // Play 2 bars of the following:
  for (var bar = 0; bar < 2; bar++) {
    var time = startTime + bar * 8 * eighthNoteTime;
    playTone(2, time);
  }
}

function playTone(semitones, time) {
  var source = context.createBufferSource();
  source.buffer = pianoBuffer;
  source.connect(context.destination);
  var semitoneRatio = Math.pow(2, 1/12);
  source.playbackRate.value = Math.pow(semitoneRatio, semitones);
  if (!source.start)
    source.start = source.noteOn;
  source.start(time);
}

</script>