<p id="notice"><%= notice %></p>

<script type="text/javascript">
var firebase_song_identifier = "https://jamwithme.firebaseio.com/music/<%= @song.firebase_identifier %>";
var firebase_chat_identifier = "https://jamwithme.firebaseio.com/chat/<%= @song.firebase_identifier %>";
var firebase_userlist_identifier = "https://jamwithme.firebaseio.com/users/<%= @song.firebase_identifier %>";
</script>

<div class="container">
  <div class="main-container no-margins">
    <div id="track-container">
      <canvas class="drawing-canvas" id="drawCanvas"></canvas>
      <canvas class="drawing-canvas" id="drawCanvas2"></canvas>
    </div>
    <div class="settings-container">
      <div style="float: left; width: 40%">
        <b>Snap To:</b><br>
        <input type="radio" name="settings_snap" value="4" checked="checked">Quarter Notes<br>
        <input type="radio" name="settings_snap" value="8">Eighth Notes<br>
        <input type="radio" name="settings_snap" value="16">16th Notes<br>
        <input type="radio" name="settings_snap" value="32">32nd Notes<br>
      </div>
      <div style="float: left; width: 40%">
        <b>Note Type:</b><br>
        <input type="radio" name="settings_length" value="1">Whole Notes<br>
        <input type="radio" name="settings_length" value="2">Half Notes<br>
        <input type="radio" name="settings_length" value="4" checked="checked">Quarter Notes<br>
        <input type="radio" name="settings_length" value="8">Eighth Notes<br>
        <input type="radio" name="settings_length" value="16">16th Notes<br>
        <input type="radio" name="settings_length" value="32">32nd Notes<br>
      </div>
      <div>
        <b>Action:</b><br>
        <input type="radio" name="settings_action" value="add" checked="checked">Add Note<br>
        <input type="radio" name="settings_action" value="remove">Remove Note<br>
        <input type="button" onclick="playback();" value="Play Song">
      </div>
    </div>
  </div>
  <div class="chat-container no-margins">
    <div id = "messagesDiv" class="chat-buffer-container no-margins">
      <textarea id="chat-messages" rows="25" cols="30"></textarea>
      <select id="chat-users" size="25" multiple>
        <option>bob</option>
        <option>mary</option>
        <option>santa</option>
      </select>
    </div>
    <div class="chat-type-container no-margins">
      <input type="text" id = "message" value="Type Here" />
    </div>
  </div>
</div>
<!-- Inconsequential image dump referenced by JS -->
<img class="invisible" id="note_whole" src="../assets/notes/whole.png" />
<img class="invisible" id="note_half" src="../assets/notes/half.png" />
<img class="invisible" id="note_quarter" src="../assets/notes/quarter.png" />
<img class="invisible" id="note_eighth" src="../assets/notes/eighth.png" />
<img class="invisible" id="note_sixteenth" src="../assets/notes/sixteenth.png" />
<img class="invisible" id="note_thirtysecond" src="../assets/notes/thirtysecond.png" />
<img class="invisible" id="instrument_piano" src="http://placehold.it/50x50" />
<img class="invisible" id="instrument_drums" src="http://placehold.it/50x50" />
<img class="invisible" id="instrument_violin" src="http://placehold.it/50x50" />
<img class="invisible" id="instrument_synth" src="http://placehold.it/50x50" />
<img class="invisible" id="clef_treble" src="../assets/clefs/treble_clef.gif" />
<img class="invisible" id="clef_bass" src="../assets/clefs/bass_clef.png" />
<img id="ghost_note" class="invisible no-margins" src="../assets/notes/piano_note_1.gif" />
